.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color:#F4246C;
}

.footer span{
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
}